

body {
    margin: 0;
}

.box-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-container {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    position: relative;
}

.main-background {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-background>div {
    width: 100%;
    height: 100%;
}

.main-wrapper {
    position: relative;
    width: 100%;
}

.body-borders>* {
    position: fixed;
    z-index: 11000;
}

.body-borders .top-border {
    top: 0;
    left: 0;
    width: 100%;
}

.body-borders .right-border {
    top: 0;
    right: 0;
    height: 100%;
}

.body-borders .bottom-border {
    bottom: 0;
    left: 0;
    width: 100%;
}

.body-borders .left-border {
    top: 0;
    left: 0;
    height: 100%;
}

.body-borders[data-border="9"] .top-border,
.body-borders[data-border="9"] .bottom-border {
    height: 9px;
}

.body-borders[data-border="9"] .right-border,
.body-borders[data-border="9"] .left-border {
    width: 9px;
}

.body-borders[data-border="18"] .top-border,
.body-borders[data-border="18"] .bottom-border {
    height: 18px;
}

.body-borders[data-border="18"] .right-border,
.body-borders[data-border="18"] .left-border {
    width: 18px;
}

@media (max-width:959px) {

    .body-borders[data-border="18"] .top-border,
    .body-borders[data-border="18"] .bottom-border {
        height: 9px;
    }

    .body-borders[data-border="18"] .right-border,
    .body-borders[data-border="18"] .left-border {
        width: 9px;
    }
}

.body-borders[data-border="27"] .top-border,
.body-borders[data-border="27"] .bottom-border {
    height: 27px;
}

.body-borders[data-border="27"] .right-border,
.body-borders[data-border="27"] .left-border {
    width: 27px;
}

@media (max-width:959px) {

    .body-borders[data-border="27"] .top-border,
    .body-borders[data-border="27"] .bottom-border {
        height: 9px;
    }

    .body-borders[data-border="27"] .right-border,
    .body-borders[data-border="27"] .left-border {
        width: 9px;
    }
}

.body-borders[data-border="36"] .top-border,
.body-borders[data-border="36"] .bottom-border {
    height: 36px;
}

.body-borders[data-border="36"] .right-border,
.body-borders[data-border="36"] .left-border {
    width: 36px;
}

@media (max-width:959px) {

    .body-borders[data-border="36"] .top-border,
    .body-borders[data-border="36"] .bottom-border {
        height: 9px;
    }

    .body-borders[data-border="36"] .right-border,
    .body-borders[data-border="36"] .left-border {
        width: 9px;
    }
}

body[data-border="9"] .box-wrapper {
    padding-bottom: 9px;
}

body[data-border="9"] .footer-scroll-top {
    padding-right: 9px;
    padding-bottom: 9px;
}

body[data-border="9"]:not(.menu-dd-search) .overlay .menu-close-search {
    margin: 9px;
}

body[data-border="9"] .onepage-pagination {
    margin: 9px;
}

@media (min-width:960px) {
    body[data-border="9"] .vmenu-container {
        padding-top: 9px;
        height: calc(100% -9px) !important;
    }
}

body[data-border="18"] .box-wrapper {
    padding-bottom: 18px;
}

body[data-border="18"] .footer-scroll-top {
    padding-right: 18px;
    padding-bottom: 18px;
}

body[data-border="18"]:not(.menu-dd-search) .overlay .menu-close-search {
    margin: 18px;
}

body[data-border="18"] .onepage-pagination {
    margin: 18px;
}

@media (max-width:959px) {
    body[data-border="18"] .box-wrapper {
        padding-bottom: 9px;
    }

    body[data-border="18"] .footer-scroll-top {
        padding-right: 9px;
        padding-bottom: 9px;
    }

    body[data-border="18"]:not(.menu-dd-search) .overlay .menu-close-search {
        margin: 9px;
    }

    body[data-border="18"] .onepage-pagination {
        margin: 9px;
    }
}

@media (min-width:960px) {
    body[data-border="18"] .vmenu-container {
        padding-top: 18px;
        height: calc(100% -18px) !important;
    }
}

body[data-border="27"] .box-wrapper {
    padding-bottom: 27px;
}

body[data-border="27"] .footer-scroll-top {
    padding-right: 27px;
    padding-bottom: 27px;
}

body[data-border="27"]:not(.menu-dd-search) .overlay .menu-close-search {
    margin: 27px;
}

body[data-border="27"] .onepage-pagination {
    margin: 27px;
}

@media (max-width:959px) {
    body[data-border="27"] .box-wrapper {
        padding-bottom: 9px;
    }

    body[data-border="27"] .footer-scroll-top {
        padding-right: 9px;
        padding-bottom: 9px;
    }

    body[data-border="27"]:not(.menu-dd-search) .overlay .menu-close-search {
        margin: 9px;
    }

    body[data-border="27"] .onepage-pagination {
        margin: 9px;
    }
}

@media (min-width:960px) {
    body[data-border="27"] .vmenu-container {
        padding-top: 27px;
        height: calc(100% -27px) !important;
    }
}

body[data-border="36"] .box-wrapper {
    padding-bottom: 36px;
}

body[data-border="36"] .footer-scroll-top {
    padding-right: 36px;
    padding-bottom: 36px;
}

body[data-border="36"]:not(.menu-dd-search) .overlay .menu-close-search {
    margin: 36px;
}

body[data-border="36"] .onepage-pagination {
    margin: 36px;
}

@media (max-width:959px) {
    body[data-border="36"] .box-wrapper {
        padding-bottom: 9px;
    }

    body[data-border="36"] .footer-scroll-top {
        padding-right: 9px;
        padding-bottom: 9px;
    }

    body[data-border="36"]:not(.menu-dd-search) .overlay .menu-close-search {
        margin: 9px;
    }

    body[data-border="36"] .onepage-pagination {
        margin: 9px;
    }
}

@media (min-width:960px) {
    body[data-border="36"] .vmenu-container {
        padding-top: 36px;
        height: calc(100% -36px) !important;
    }
}

h2,
.h2 {
    font-size: 29px;
    line-height: 1.2;
    margin: 0px 0 0;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 1.2;
    margin: 27px 0 0;
}

h4,
.h4 {
    font-size: 20px;
    line-height: 1.2;
    margin: 27px 0 0;
}

h5,
.h5 {
    font-size: 17px;
    line-height: 1.2;
    margin: 27px 0 0;
}

h6,
.h6 {
    font-size: 14px;
    line-height: 1.2;
    margin: 27px 0 0;
}

.row .uncol {
    display: block;
    overflow: hidden;
    position: relative;
}

.row .uncoltable {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 100%;
}


.row div.column_child.align_center>.uncol>.uncoltable>.uncell>.uncont {
    text-align: center;
}

.row div.column_child.align_center>.uncol>.uncoltable>.uncell>.uncont hr {
    margin-left: auto;
    margin-right: auto;
}

.row div.column_child.align_justify>.uncol>.uncoltable>.uncell>.uncont {
    text-align: justify;
}

.row div.column_child.align_justify>.uncol>.uncoltable>.uncell>.uncont hr {
    margin-left: auto;
    margin-right: auto;
}

.row div.column_child.align_right>.uncol>.uncoltable>.uncell>.uncont {
    text-align: right;
}

.row div.column_child.align_right>.uncol>.uncoltable>.uncell>.uncont hr {
    margin-right: 0;
    margin-left: auto;
}

.row div.column_child.align_left>.uncol>.uncoltable>.uncell>.uncont {
    text-align: left;
}

.row div.column_child.align_left>.uncol>.uncoltable>.uncell>.uncont hr {
    margin-right: auto;
    margin-left: 0;
}

.row div.column_child.pos-left>.uncol>.uncoltable>.uncell>.uncont {
    margin: 0px;
}

.row div.column_child.pos-center>.uncol>.uncoltable>.uncell>.uncont {
    margin: 0 auto;
}

.row div.column_child.pos-right>.uncol>.uncoltable>.uncell>.uncont {
    margin-left: auto;
}

.row div.column_child.pos-top,
.row div.column_child.pos-top .uncell {
    vertical-align: top;
}

.row div.column_child.pos-middle .uncell,
.row div.column_child.pos-middle {
    vertical-align: middle;
}

.row div.column_child.pos-bottom,
.row div.column_child.pos-bottom .uncell {
    vertical-align: bottom;
}

.row-background .background-wrapper .background-inner,
.column-background .background-wrapper .background-inner {
    border-radius: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: scroll;
}






.no-h-padding[class*="-block-padding"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.main-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.main-container .row {
    width: 100%;
    table-layout: fixed;
}

.main-container .row .uncol {
    overflow: visible;
}

@media (max-width:959px) {
    .main-container .row .uncol {
        position: relative !important;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
}

@media (max-width:959px) {
    .main-container .row .uncont {
        max-width: none !important;
        height: auto !important;
    }
}

@media (max-width:959px) {

    .main-container .row.row-parent:not(.row-slider):not(.row-header),
    .main-container .row .row-parent:not(.row-slider):not(.row-header) .row {
        height: auto !important;
    }

    .main-container .row.row-parent:not(.row-slider):not(.row-header) .row-child,
    .main-container .row .row-parent:not(.row-slider):not(.row-header) .row .row-child {
        height: auto !important;
    }
}

@media (max-width:569px) {

    .main-container .row.row-parent:not(.no-h-padding) .column_parent>.uncol>.uncoltable>.uncell>.uncont:not(.col-custom-width),
    .main-container .row.row-parent:not(.no-h-padding) .column_child>.uncol>.uncoltable>.uncell>.uncont:not(.col-custom-width) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.main-container .row .column_parent,
.main-container .row .column_child {
    clear: both;
}

.main-container .row-inner {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    min-width: 100%;
    /* width: auto; */
}

.safari5 .main-container .row-inner,
.android4 .main-container .row-inner {
    width: 100%;
}

.main-container .row-inner.row-inner-force {
    width: 100%;
}

.main-container .row-inner>div:not(.vc_helper) {
    padding: 0px 0px 0px 36px;
}

@media (max-width:959px) {
    .main-container .row-inner>div:not([class*=col-md]) {
        padding: 36px 0px 0px 0px;
    }

    .main-container .row-inner>div:first-child:not([class*=col-md]) {
        padding-top: 0px;
    }

    .main-container .row-inner>div:only-child:not([class*=col-md]) {
        padding-top: 0px;
    }

    .main-container .row-inner>.mobile-hidden+div {
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width:569px) {
    .main-container .row-inner>div:not(.vc_helper) {
        padding: 36px 0px 0px 0px;
    }

    .main-container .row-inner>div:first-child {
        padding-top: 0px;
    }

    .main-container .row-inner>div:only-child {
        padding-top: 0px;
    }
}

@media (min-width:960px) {
    .main-container .row-inner {
        margin-left: -36px;
    }
}

.main-container .row-inner>.main-inner-col>.row-container>.row {
    padding-left: 0px;
    padding-right: 0px;
}

.main-container .row-inner>.main-inner-col:first-child>.row-container {
    padding-right: 0px;
}

@media (min-width:1500px) {
    .main-container .row-inner>.main-col-left>div>.row-parent {
        padding-right: 36px;
    }

    .main-container .row-inner>.main-col-right>div>.row-parent {
        padding-left: 36px;
    }
}

@media (min-width:570px) and (max-width:959px) {
    .main-container .tablet-no-inner-gap .row-inner>div:not(.vc_helper) {
        padding-top: 0 !important;
    }
}

@media (max-width:570px) {
    .main-container .mobile-no-inner-gap .row-inner>div:not(.vc_helper) {
        padding-top: 0 !important;
    }
}

@media (max-width:959px) {
    .main-container .inverted-device-order>.row>.row-inner>div:first-child:not([class*=col-md]) {
        padding-top: 36px;
    }

    .main-container .inverted-device-order>.row>.row-inner>div:nth-child(2):not([class*=col-md]) {
        display: table-header-group !important;
        padding-top: 0px;
    }
}

@media (max-width:569px) {
    .main-container .inverted-device-order>.row>.row-inner>div:first-child:not([class*=col-sm]) {
        padding-top: 36px;
    }

    .main-container .inverted-device-order>.row>.row-inner>div:nth-child(2):not([class*=col-sm]) {
        display: table-header-group !important;
        padding-top: 0px;
    }
}

@media (min-width:570px) and (max-width:959px) {
    .main-container .inverted-device-order>.col-no-gutter>.row-inner>div:first-child:not([class*=col-md]) {
        padding-top: 0;
    }
}

@media (max-width:569px) {
    .main-container .inverted-device-order>.col-no-gutter>.row-inner>div:first-child:not([class*=col-sm]) {
        padding-top: 0;
    }
}

@media (min-width:570px) and (max-width:959px) {
    .main-container .inverted-device-order>.col-half-gutter>.row-inner>div:first-child:not([class*=col-md]) {
        padding-top: 18px;
    }
}

@media (max-width:569px) {
    .main-container .inverted-device-order>.col-half-gutter>.row-inner>div:first-child:not([class*=col-sm]) {
        padding-top: 18px;
    }
}

@media (min-width:570px) and (max-width:959px) {
    .main-container .inverted-device-order>.col-one-gutter>.row-inner>div:first-child:not([class*=col-md]) {
        padding-top: 1px;
    }
}

@media (max-width:569px) {
    .main-container .inverted-device-order>.col-one-gutter>.row-inner>div:first-child:not([class*=col-sm]) {
        padding-top: 1px;
    }
}



@media (max-width:959px) {

    .main-container .row-container .row-parent .double-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .double-internal-gutter .uncont>* {
        margin-top: 54px;
    }
}

@media (max-width:569px) {

    .main-container .row-container .row-parent .double-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .double-internal-gutter .uncont>* {
        margin-top: 36px;
    }
}

.main-container .row-container .row-parent .triple-internal-gutter .uncont>*,
.main-container .row-container .row-parent .row-parent .triple-internal-gutter .uncont>* {
    margin-top: 108px;
}

@media (max-width:1499px) {

    .main-container .row-container .row-parent .triple-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .triple-internal-gutter .uncont>* {
        margin-top: 90px;
    }
}

@media (max-width:959px) {

    .main-container .row-container .row-parent .triple-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .triple-internal-gutter .uncont>* {
        margin-top: 72px;
    }
}

@media (max-width:569px) {

    .main-container .row-container .row-parent .triple-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .triple-internal-gutter .uncont>* {
        margin-top: 54px;
    }
}

.main-container .row-container .row-parent .quad-internal-gutter .uncont>*,
.main-container .row-container .row-parent .row-parent .quad-internal-gutter .uncont>* {
    margin-top: 144px;
}

@media (max-width:1699px) {

    .main-container .row-container .row-parent .quad-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .quad-internal-gutter .uncont>* {
        margin-top: 126px;
    }
}

@media (max-width:1499px) {

    .main-container .row-container .row-parent .quad-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .quad-internal-gutter .uncont>* {
        margin-top: 108px;
    }
}

@media (max-width:959px) {

    .main-container .row-container .row-parent .quad-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .quad-internal-gutter .uncont>* {
        margin-top: 90px;
    }
}

@media (max-width:569px) {

    .main-container .row-container .row-parent .quad-internal-gutter .uncont>*,
    .main-container .row-container .row-parent .row-parent .quad-internal-gutter .uncont>* {
        margin-top: 72px;
    }
}

.main-container .row-container .row-parent .column_child.no-internal-gutter .uncont>* {
    margin-top: 0px;
}

.main-container .row-container .row-parent .column_child.one-internal-gutter .uncont>*:not(:first-child) {
    margin-top: 1px;
}

.main-container .row-container .row-parent .column_child.half-internal-gutter .uncont>*:not(:first-child) {
    margin-top: 18px;
}

.main-container .row-container .row-parent .column_child.half-internal-gutter .uncont>*:not(:first-child) {
    margin-top: 18px;
}

.main-container .row-container .row-parent .column_child.single-internal-gutter .uncont>*:not(:first-child) {
    margin-top: 36px;
}

.main-container .row-container .row-parent .column_child.double-internal-gutter .uncont>*:not(:first-child) {
    margin-top: 72px;
}

@media (max-width:959px) {
    .main-container .row-container .row-parent .column_child.double-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 54px;
    }
}

@media (max-width:569px) {
    .main-container .row-container .row-parent .column_child.double-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 36px;
    }
}

.main-container .row-container .row-parent .column_child.triple-internal-gutter .uncont>*:not(:first-child) {
    margin-top: 108px;
}

@media (max-width:1499px) {
    .main-container .row-container .row-parent .column_child.triple-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 90px;
    }
}

@media (max-width:959px) {
    .main-container .row-container .row-parent .column_child.triple-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 72px;
    }
}

@media (max-width:569px) {
    .main-container .row-container .row-parent .column_child.triple-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 54px;
    }
}

.main-container .row-container .row-parent .column_child.quad-internal-gutter .uncont>*:not(:first-child) {
    margin-top: 144px;
}

@media (max-width:1699px) {
    .main-container .row-container .row-parent .column_child.quad-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 126px;
    }
}

@media (max-width:1499px) {
    .main-container .row-container .row-parent .column_child.quad-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 108px;
    }
}

@media (max-width:959px) {
    .main-container .row-container .row-parent .column_child.quad-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 90px;
    }
}

@media (max-width:569px) {
    .main-container .row-container .row-parent .column_child.quad-internal-gutter .uncont>*:not(:first-child) {
        margin-top: 72px;
    }
}

.main-container .row-container .row-parent .uncont>*.ilightbox-html:first-child+*,
.main-container .row-container .row-parent .uncont>*:first-child:not([class*=shift_y_]),
.main-container .row-container .row-parent .uncont>*:first-child:not(.divider-wrapper):not(.edit-account)>*:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account):not([class*=shift_y_]),
.main-container .row-container .row-parent .uncont>*:first-child:not(.divider-wrapper):not(.edit-account)>*:first-child>*:first-child:not([class*=shift_y_]),
.main-container .row-container .row-parent .uncont>*:first-child:not(.divider-wrapper):not(.edit-account)>*:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account)>*:first-child>*:first-child:not([class*=shift_y_]) {
    margin-top: 0px !important;
}

.main-container .row-container .row-parent .uncont>*.desktop-hidden:first-child+* {
    margin-top: 0px !important;
}

:not(.ajax-filter-sidebar-wrapper).main-container .row-container .row-parent .uncont>*.uncode_widget:first-child .widget-title {
    padding-top: 0 !important;
}

article.hentry .main-container .row-container .row-parent {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (min-width:960px) {
    .main-container .row-container .row-parent.limit-width.fill-col-left {
        padding-left: 36px;
    }

    .main-container .row-container .row-parent.limit-width.fill-col-right {
        padding-right: 36px;
    }
}

.main-container .row-container>.row-parent:not(.row-slider) .row-child {
    padding: 0px !important;
}

@media (min-width:960px) {
    .main-container .row-container>.row-parent .row-child>.row-inner>div:not(.vc_helper) {
        padding: 0px 0px 0px 36px;
    }
}

.main-container .row-container .row-w-sidebar {
    padding: 0px;
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-no-gutter>.row-inner,
    .main-container .row-container .col-no-gutter>.row-inner {
        margin-left: 0px;
        width: 100%;
    }
}

.main-container .row-container .row-child.col-no-gutter>.row-inner>div:not(.vc_helper),
.main-container .row-container .col-no-gutter>.row-inner>div:not(.vc_helper) {
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width:959px) {

    .main-container .row-container .row-child.col-no-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-no-gutter>.row-inner>div:not(.vc_helper) {
        padding-top: 0px;
    }
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-one-gutter>.row-inner,
    .main-container .row-container .col-one-gutter>.row-inner {
        margin-left: -1px;
    }
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-one-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-one-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 1px;
        padding-right: 0px;
    }
}

@media (max-width:959px) {

    .main-container .row-container .row-child.col-one-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-one-gutter>.row-inner>div:not(.vc_helper) {
        padding-top: 1px;
    }

    .main-container .row-container .row-child.col-one-gutter>.row-inner>div:not(.vc_helper):first-child,
    .main-container .row-container .col-one-gutter>.row-inner>div:not(.vc_helper):first-child {
        padding-top: 0px;
    }
}

@media (min-width:960px) {
    .main-container .row-container .row-child.col-one-gutter>.row-inner {
        margin-left: -1px;
    }
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-half-gutter>.row-inner,
    .main-container .row-container .col-half-gutter>.row-inner {
        margin-left: -18px;
    }
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-half-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-half-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 18px;
        padding-right: 0px;
    }
}

@media (max-width:959px) {

    .main-container .row-container .row-child.col-half-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-half-gutter>.row-inner>div:not(.vc_helper) {
        padding-top: 18px;
    }

    .main-container .row-container .row-child.col-half-gutter>.row-inner>div:not(.vc_helper):first-child,
    .main-container .row-container .col-half-gutter>.row-inner>div:not(.vc_helper):first-child {
        padding-top: 0px;
    }
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-std-gutter>.row-inner,
    .main-container .row-container .col-std-gutter>.row-inner {
        margin-left: -54px;
    }
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-std-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-std-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 54px;
        padding-right: 0px;
    }
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-double-gutter>.row-inner,
    .main-container .row-container .col-double-gutter>.row-inner {
        margin-left: -72px;
    }
}

@media (min-width:960px) {

    .main-container .row-container .row-child.col-double-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-double-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 72px;
        padding-right: 0px;
    }
}

@media (min-width:1500px) {

    .main-container .row-container .row-child.col-triple-gutter>.row-inner,
    .main-container .row-container .col-triple-gutter>.row-inner {
        margin-left: -108px;
    }
}

@media (min-width:960px) and (max-width:1499px) {

    .main-container .row-container .row-child.col-triple-gutter>.row-inner,
    .main-container .row-container .col-triple-gutter>.row-inner {
        margin-left: -72px;
    }
}

@media (min-width:1500px) {

    .main-container .row-container .row-child.col-triple-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-triple-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 108px;
        padding-right: 0px;
    }
}

@media (min-width:960px) and (max-width:1499px) {

    .main-container .row-container .row-child.col-triple-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-triple-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 72px;
        padding-right: 0px;
    }
}

@media (min-width:1700px) {

    .main-container .row-container .row-child.col-quad-gutter>.row-inner,
    .main-container .row-container .col-quad-gutter>.row-inner {
        margin-left: -144px;
    }
}

@media (min-width:1500px) and (max-width:1699px) {

    .main-container .row-container .row-child.col-quad-gutter>.row-inner,
    .main-container .row-container .col-quad-gutter>.row-inner {
        margin-left: -108px;
    }
}

@media (min-width:960px) and (max-width:1499px) {

    .main-container .row-container .row-child.col-quad-gutter>.row-inner,
    .main-container .row-container .col-quad-gutter>.row-inner {
        margin-left: -72px;
    }
}

@media (min-width:1700px) {

    .main-container .row-container .row-child.col-quad-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-quad-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 144px;
        padding-right: 0px;
    }
}

@media (min-width:1500px) and (max-width:1699px) {

    .main-container .row-container .row-child.col-quad-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-quad-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 108px;
        padding-right: 0px;
    }
}

@media (min-width:960px) and (max-width:1499px) {

    .main-container .row-container .row-child.col-quad-gutter>.row-inner>div:not(.vc_helper),
    .main-container .row-container .col-quad-gutter>.row-inner>div:not(.vc_helper) {
        padding-left: 72px;
        padding-right: 0px;
    }
}



.main-container .row-container .single-top-padding {
    padding-top: 36px;
}

.main-container .row-container .single-bottom-padding {
    padding-bottom: 36px;
}

.main-container .row-container .single-left-padding {
    padding-left: 36px;
}

.main-container .row-container .single-right-padding {
    padding-right: 36px;
}

.main-container .row-container .single-h-padding {
    padding-left: 36px;
    padding-right: 36px;
}

.main-container .row-container .double-h-padding {
    padding-left: 72px;
    padding-right: 72px;
}




.block-bg-overlay {
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    transition: opacity 0.2s;
}




.btn,
.btn-link {
    display: inline-block;
    font-style: normal !important;
    text-align: center;
    vertical-align: middle;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    background-image: none;
    border-style: solid;
    border-radius: 2px;
    outline: none;
    white-space: pre-wrap;
    -webkit-text-stroke: 0px;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}





.btn-circle,
.btn-circle.btn-default,
input[type="submit"].btn-circle,
input[type="reset"].btn-circle,
input[type="button"].btn-circle,
button[type="submit"].btn-circle {
    border-radius: 10em;
}

.btn-italic {
    font-style: italic !important;
}

.btn-disable-hover {
    pointer-events: none !important;
}