html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html.fp-enabled.touch {
    height: 100% !important
}

.fp-scrollable {
    overflow: hidden;
    position: relative
}

.fp-scroller {
    overflow: hidden
}

.iScrollIndicator {
    display: none !important
}

.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
    height: auto !important
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important
}

@keyframes opacityout {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes scaleDown {
    from {
        transform: translateY(0)
    }

    to {
        transform: scale(.85)
    }
}

@keyframes moveparallaxup {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(70%)
    }
}

@keyframes moveparallaxdown {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(-70%)
    }
}

@keyframes movecurtainup {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(5%)
    }
}

@keyframes movecurtaindown {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(-5%)
    }
}

@keyframes moveFromBottom {
    from {
        transform: translateY(100%)
    }
}

@keyframes moveFromTop {
    from {
        transform: translateY(-100%)
    }
}

@keyframes moveFromBottomInner {
    from {
        transform: translateY(-50%)
    }
}

@keyframes moveFromTopInner {
    from {
        transform: translateY(50%)
    }
}

@keyframes moveFromBottomtrid {
    25% {
        transform: scale(.8)
    }

    50%,
    100% {
        transform: translateY(-100%) scale(.8)
    }
}

@keyframes moveFromToptrid {
    25% {
        transform: scale(.8)
    }

    50%,
    100% {
        transform: translateY(100%) scale(.8)
    }
}

@keyframes moveFromBottomtridIn {

    0%,
    25% {
        transform: scale(.8) translateY(125%)
    }

    50% {
        transform: scale(.8) translateY(0)
    }

    75%,
    100% {
        transform: scale(1)
    }
}

@keyframes moveFromToptridIn {

    0%,
    25% {
        transform: scale(.8) translateY(-125%)
    }

    50% {
        transform: scale(.8) translateY(0)
    }

    75%,
    100% {
        transform: scale(1)
    }
}

.fp-section {
    width: 100%
}

html:not(.touch) body.uncode-fullpage-slide .column_parent {
    height: 100% !important
}

html:not(.touch) body.uncode-fullpage-slide:not(.uncode-fullpage-none) {
    height: 100vh !important
}

html.touch body.uncode-fullpage-slide:not(.uncode-fullpage-none) {
    height: 100% !important
}

body.uncode-fullpage-slide:not(.uncode-fullpage-none) .fullpage-wrapper {
    position: relative;
    touch-action: none;
    top: 0
}

body.uncode-fullpage-slide:not(.uncode-fullpage-none) .fp-section {
    overflow: hidden
}

.safari body.uncode-fullpage-slide:not(.uncode-fullpage-none) .fp-section .uncont,
.safari body.uncode-fullpage-slide:not(.uncode-fullpage-none) .block-bg-overlay {
    -webkit-backface-visibility: hidden !important;
    -webkit-transform: translateZ(0) !important
}

.safari body.uncode-fullpage-slide:not(.uncode-fullpage-none) .add-kburns .tmb-overlay-showed.tmb .t-entry-visual .t-entry-visual-overlay,
.safari body.uncode-fullpage-slide:not(.uncode-fullpage-none) .add-kburns .tmb .t-entry-visual .t-entry {
    -webkit-backface-visibility: hidden !important;
    -webkit-transform: translateZ(0) !important
}

body.uncode-fullpage-slide:not(.uncode-fullpage-none) .uncode-scroll-lock {
    position: absolute;
    margin-top: 10000px;
    visibility: hidden;
    width: 100%
}

body.uncode-fullpage-slide:not(.uncode-fullpage-none) .uncode-scroll-lock.uncode-scroll-active {
    visibility: visible;
    margin-top: 0
}

body.uncode-fullpage-slide #colophon {
    position: absolute
}

.safari body.uncode-fullpage-slide #colophon,
.safari body.uncode-fullpage-slide #colophon .row-parent {
    -webkit-backface-visibility: hidden !important;
    -webkit-transform: translateZ(0) !important
}

.touch body.uncode-fullpage-slide #colophon.active {
    overflow: visible;
    z-index: 5
}

.touch body.uncode-fullpage-slide #colophon.active::before {
    content: '';
    display: block !important;
    position: absolute;
    width: 100%;
    height: 2000px;
    top: -2000px
}

body.uncode-fullpage-slide .box-wrapper.ls-overflow-visible {
    overflow: hidden !important
}

body.uncode-scroll-snap #colophon {
    display: block !important
}

html.fp-enabled .row-container.row-navigation,
html.fp-enabled .post-after,
html.fp-enabled .post-footer {
    display: none
}

body #page-header .isotope-system.add-kburns {
    transition: opacity 0.15s linear
}

body.fp-waiting #page-header .isotope-system.add-kburns {
    opacity: 0
}